<section data-ng-controller="GraphsController">
    <div class="page-header">
        <h1>New Graph</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Graph Name:</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" name="name" id="name" class="form-control" placeholder="Graph name..."  rows="12" required/>
                    </div>

                    <label class="control-label" for="text">Text</label>
                    <div class="controls">
                        <textarea type="text" data-ng-model="text" name="text" id="text" class="form-control" placeholder="Sentences must be line-separated..."  rows="12" required></textarea>
                    </div>
                    <div class="controls">
                        <label class="control-label" for="language">Text language:</label>
                        <select data-ng-model="language" class="form-control">
                            <option value="spanish">ES</option>
                            <option value="english">EN</option>
                            <option value="auto">Auto</option>
                        </select>
                    </div>
                    <div class="controls">
                        <label class="control-label" for="textPercent">Text Percentage in summary:</label>
                        <input type="number" data-ng-model="textPercent" name="textPercent" id="textPercent" class="form-control" placeholder="1-100" required/>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>