
<section data-ng-controller="GraphsController" data-ng-init="findOneAndShowOne()">
	<div class="page-header">
		<h1 data-ng-bind="graph.name"></h1>

		<div id="graph_area"></div>

		<p data-ng-bind-html="graph.finalTextWithCssPresentation"></p>
		<h2>Debug Information</h2>
		<h3>Final Graph </h3>
		<p data-ng-bind-html="graph.debugGraph"></p>
	</div>
	<div class="pull-right">
		<a class="btn btn-primary" href="/#!/graphs/{{graph._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="graph.created | date:'mediumDate'"></span>
		</em>
	</small>
</section>

